<footer class="footer">

    <div class="text-center">
            <span class="text-white">
                <a class="stateLink" target="_blank" href="https://www.linkedin.com/in/julio-valente-costa/">
                    Desenvolvido por Julio Valentel  © - Todos os direitos reservados
                </a>
            </span>
    </div>
</footer>