<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text text-white">
    <a class="stateLink" href="{{ path("index-region") }}">
      <h4 class="display-7">Covid-19 Monitor</h4>
    </a>
  </span>
</nav>