{% extends "base.html.twig" %}

{% block body %}
    <div class="row bg-dark">
        {% for city in cities  %}
            <div class="col-md-3">
                <div class="card card-body mb-5 mt-3 text-light bg-dark">
                    <h4 class="display-9 text-center ">
                        {{ city.name }}
                    </h4>
                    <div class="text-center mt-2">
                        <p>
                            <strong>
                                Confirmados:
                            </strong>
                            {{ city.quantityConfirmed | default("-") }}
                        </p>
                        <p>
                            <strong>
                                Óbitos:
                            </strong>
                            {{ city.quantityDeaths | default("-") }}
                        </p>
                        <p>
                            <strong>
                                Ultima Atualização:
                            </strong>
                            {{ city.date | date("d/m/Y H:i:s") }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}