{% extends "base.html.twig" %}

{% block body %}
    <div class="row bg-dark">
        {% for region in regions %}
            <div class="col-md-3">
                <div class="card text-center card-body mb-5 mt-3 text-light bg-dark">
                    <a class="stateLink" href="{{ path("index-state", {region: region.name}) }}">
                        {{ region.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}